
@{
    ViewBag.Title = "Reporte Por Todos los Documentos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align: center">Filtro Para Reportes Por Todos los Documentos</h2>
<form action="/GeneradorDoc/ResultRAllDoc" method="post">
    <input type="number" name="alldoc" placeholder="Ingrese el ID del Documento" style="text-align:center"  class="form-control" /> <br />
    <input type="submit" value="FILTRAR" class="btn btn-success" />
</form>

