
@{
    ViewBag.Title = "Filtro de Documentos por Departamento de Destino";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align: center">Filtro Para Reportes de Documentos por Departamento de Destino</h2>
<form action="/GeneradorDoc/ResultRDocDepDest" method="post">
    <input type="text" name="depdest"  placeholder="Ingrese el Nombre del Departamento" style="text-align:center" class="form-control" /> <br />
    <input type="submit" value="FILTRAR" class="btn btn-success" />
</form>
