
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

</head>
<body>
    <div class="center">
        <h2 style="color:darkcyan;text-align:center">CONTROL DE DOCUMENTOS GERMOSEN</h2>

        <h3 style="color:darkcyan;text-align:center"> USUARIOS: </h3>

        <a href="/Usuarios/Details"><img src="~/images/undraw_Updated_resume_re_q1or.svg" /></a>

        <h3 style="color:darkcyan;text-align:center"> DEPARTAMENTOS: </h3>

        <a href="/Departamentos/Details"> <img src="~/images/undraw_Building_re_xfcm.svg" /></a>

        <h3 style="color:darkcyan;text-align:center"> DOCUMENTOS: </h3>

        <a href="/GeneradorDoc/Details"><img src="~/images/undraw_Filing_system_re_56h6.svg" /></a>

        <h3 style="color:darkcyan;text-align:center"> REPORTES: </h3>

        <a href="/GeneradorDoc/FiltroRGEmpDoc"><img src="~/images/undraw_data_reports_706v.svg" /></a>

        <style>
            img {
                width: 400px;
                display: flex;
                justify-content: center;
                align-content: center;
                align-items: center;
                padding: 20px;
            }
        </style>
    </div>
</body>
</html>